.moveableImg{
	color: white;
	width:120px;
	position:absolute;


	/* This makes things *much* easier */
	box-sizing: border-box;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #d3394c;
    /* 10px 20px */
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #722040;
}
.inputfile + label:hover {
    background-color: #722040;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.resize-container {
	float:left;
	display: inline-block;
	width: 215;
	height: 220px;
}
.colorPicker{
	float:left;
	margin:5px;
	height:20;
	width:20;
}
#colors{
	float:left;
	width:auto;
	height:30px;
}
#front-view{
	float:left;
	width:215px;
	height:220px;
}
.moveableText{
	position:absolute;
	width:auto;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:10px;
	padding-right:10px;
	word-wrap: break-word;
	max-width:130px;
	display:inline-block;
}
#keycap-container{
	display:inline-block;
}

#locOptions{
	float:left;
}
#styleOptions{
	height:30px;
	width:auto;
}